<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> User </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">User</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-input
      type="text"
      placeholder="email"
      [(ngModel)]="post.email"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      type="text"
      placeholder="first name"
      [(ngModel)]="post.first_name"
    ></ion-input
  ></ion-item>
  <ion-item>
    <ion-input
      type="text"
      placeholder="last name"
      [(ngModel)]="post.last_name"
    ></ion-input
  ></ion-item>
  <ion-button (click)="submit()">SIMPAN</ion-button>
</ion-content>
